<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="../resources/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../resources/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <!--Importando las fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Icono del sitio web-->
    <link rel="icon" href="../resources/img/TB.png">
    <title>Tony Bendek Fitness</title>
</head>


<body>
    <nav class="grey darken-4 z-depth-5" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="../resources/img/TONY_BENDEK-removed.png " class="logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Local</a></li>
                <li><a href="#">Productos y servicios</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container carouseStyle">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="../resources/img/carrusel.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="../resources/img/carrusel 2.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="../resources/img/carrusel 3.jpg"></a>
            <a class="carousel-item" href="#one!"><img src="../resources/img/carrusel.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="../resources/img/carrusel 2.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="../resources/img/carrusel 3.jpg"></a>
          </div>
    </div>
    <div class="firstSection">
        <div class="icon-block">
            <h4 class="center">Consigue tu objetivo</h4>
            <hr class="LineD">
            <p class="light">Inicio con una alta motivación para promover la importancia de cuidar nuestra salud
                 así como también el beneficio y esfuerzo que lleva el realizar ejercicio físico ya sea en nuestros 
                 hogares o adquiriendo servicios de gimnasio. </p>
        </div>
    </div>



    <div class="container placeSection">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div>
                    <h3 class="center">Local</h3>
                    <div class="lineL"></div>
                </div>
                <div class="col s12 m12 l12 center" >
                    <img src="../resources/img/Local.jpg" class="placeIMG">
                </div>
                <div class="center descL">
                    <p>Nuestro local aun es un espacio de tamaño reducido en el cual se cuentan con maquinaria para los ejercicios 
                        que se realizan en las rutinas, dicho esto aún no se tiene una diversidad tan grande, pero si la suficiente para satisfacer 
                        las necesidades de los clientes en el área de acondicionamiento, en un futuro se planea conseguir un
                         nuevo local en el cual se conseguirán maquinarias diferentes para más diversidad de ejercicios</p>
                </div>
                
               <div class="InnerPlace">
                <div>
                    <h3 class="center">Productos y servicios</h3>
                    <div class="lineL2"></div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons"> <img src="../resources/img/Servicios .jpg"></i></h2>
                        <h5 class="center">Paquetes</h5>
                        <div class="lineL"></div>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create
                            a framework that incorporates components and animations that provide more feedback to users.
                            Additionally, a single underlying responsive system across all platforms allow for a more
                            unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons"> <img src="../resources/img/servicios.jpg"></i></h2>
                        <h5 class="center">Coaching</h5>
                        <div class="lineL"></div>

                        <p class="light">We have provided detailed documentation as well as specific code examples to
                            help new users get started. We are also always open to feedback and can answer any questions
                            a user may have about Materialize.</p>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons"> <img src="../resources/img/servicios (2).jpg"></i></h2>
                        <h5 class="center">Seca scan</h5>
                        <div class="lineL"></div>

                        <p class="light">We have provided detailed documentation as well as specific code examples to
                            help new users get started. We are also always open to feedback and can answer any questions
                            a user may have about Materialize.</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>


    <footer class="page-footer grey darken-4">
        <div class="container footermain">
            <div class="row">
                <div class="col l4 m6 s12">
                    <h5 class="white-text center">Direccion</h5>
                    <div class="lineL"></div>
                    <p class="grey-text text-lighten-4">
                        Dirección Tony Bendek Fitness Center, Bulevar Del Hipódromo, San Salvador #602-2</p>
                </div>
                <div class="col l4 m6 s12 center">
                    <h5 class="white-text">Redes sociales</h5>
                    <div class="lineL"></div>
                    <ul>
                        <li><a class="white-text" href="https://www.facebook.com/profile.php?id=100038760671795">Facebook</a></li>
                        <img src="../resources/img/facebook.png">
                        <li><a class="white-text" href="https://www.instagram.com/tonybendekfitness/">Instagram</a></li>
                        <img src="../resources/img/Instagram_logo.png">
                        <li><a class="white-text" href="https://www.youtube.com/channel/UCXfnzcdootQUH3GSmAat_iQ">Youtube</a></li>
                        <img src="../resources/img/youtube.png">
                    </ul>
                </div>
                <div class="col l4 s12 center">
                    <h5 class="white-text">Contacto</h5>
                    <div class="lineL "></div>
                    <ul>
                        <li><a class="white-text" href="#!">7230-7162</a></li>
                        <img src="../resources/img/WhatsApp.webp">
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container  darken-4">
            <p class="grey-text text-lighten-4">Derechos reservados © 2022</p>
        </div>
    </div>


    <!--  Scripts-->
    <script type="text/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../controllers/TonyBendekFitness.js"></script>
</body>

</html>